################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/LeadGen2/v15/Server/sqlite3
/.vs
