################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceBusMessages/obj
/.vs/LeadGen2/v15/Server/sqlite3
/.vs
/MassIdxIngestion/obj
/MassIdxIngestion.Tests/obj
