/* Coolors Exported Palette - coolors.co/191308-322a26-454b66-677db7-9ca3db */

/* HSL */
$bk-color1: hsla(39%, 52%, 6%, 1);
$bk-color2: hsla(20%, 14%, 17%, 1);
$bk-color3: hsla(229%, 19%, 34%, 1);
$bk-color4: hsla(224%, 36%, 56%, 1);
$bk-color5: hsla(233%, 47%, 74%, 1);

/* RGB */
$bk-color1: rgba(25, 19, 8, 1);
$bk-color2: rgba(50, 42, 38, 1);
$bk-color3: rgba(69, 75, 102, 1);
$bk-color4: rgba(103, 125, 183, 1);
$bk-color5: rgba(156, 163, 219, 1);
